@page "/Culture/Index"

@inject CultureService cultureService
@rendermode InteractiveServer

<PageTitle>Culture Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between">
            <h4>Culturas</h4>
            <a class="btn btn-primary bi bi-plus-square" href="/Culture/Create"> Crear</a>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-3">
                    <label>Desde:</label>
                </div>
                <div class="col-3">
                    <label>Hasta:</label>
                </div>
                <div class="col-3">
                    <label>Filtro:</label>
                </div>
                <div class="col-3">
                    <label>Buscar:</label>
                </div>
            </div>


            <div class="row pb-3">
                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaDesde" />
                </div>
                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaHasta" />
                </div>
                <div class="col-3">
                    <select class="form-select" @bind="Filtro">
                        <option value="" disabled selected hidden>Seleccione un filtro...</option>
                        <option value="CultureId">ID de Cultura</option>
                        <option value="Name">Nombre</option>
                    </select>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input class="form-control" type="text" @bind-value="ValorFiltro" placeholder="Buscar..." />
                        <button class="btn btn-primary bi bi-search" type="button" @onclick="Filtrar"></button>
                        <button class="btn btn-outline-primary bi bi-arrow-clockwise" type="button" @onclick="Restablecer"></button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <QuickGrid Class="table table-striped table-bordered table-hover" Pagination="@pages" Items="CulturesList.AsQueryable()" ItemKey="@(c => c.CultureId)">
                    <PropertyColumn Property="@(c => c.CultureId)" Sortable="true" Title="Culture ID"></PropertyColumn>
                    <PropertyColumn Property="@(c => c.Name)" Sortable="true" Title="Nombre"></PropertyColumn>
                    <PropertyColumn Property="@(c => c.ModifiedDate)" Sortable="true" Format="dd-MM-yyyy" Title="Modificaci&oacute;n"></PropertyColumn>
                    <TemplateColumn Class="text-center" Context="options" Title="Acci&oacute;n">
                        <a href="/Culture/Edit/@options.CultureId" class="btn btn-outline-primary bi bi-pencil-square"> Modificar</a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            @*Pagination*@
            <Paginator State="@pages" />
        </div>
    </div>
</div>

@code {
    public List<Culture> CulturesList { get; set; } = new List<Culture>();
    public DateTime? FechaDesde { get; set; }
    public DateTime? FechaHasta { get; set; }
    public string Filtro { get; set; } = "";
    public string ValorFiltro { get; set; } = "";
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        CulturesList = await cultureService.GetList(c => true);
        CulturesList = CulturesList.OrderByDescending(c => c.ModifiedDate).ToList();
    }

    public async Task Filtrar()
    {

        System.Linq.Expressions.Expression<Func<Culture, bool>> criterio = c => true;

        if (FechaDesde.HasValue && FechaHasta.HasValue)
        {
            DateTime fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(c => c.ModifiedDate >= FechaDesde.Value && c.ModifiedDate <= fechaHasta);
        }
        else if (FechaDesde.HasValue)
        {
            criterio = criterio.And(c => c.ModifiedDate >= FechaDesde.Value);
        }
        else if (FechaHasta.HasValue)
        {
            var fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(c => c.ModifiedDate <= fechaHasta);
        }

        if (Filtro != "" && ValorFiltro != "")
        {
            if (Filtro == "CultureId")
            {
                criterio = criterio.And(c => c.CultureId.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "Name")
            {
                criterio = criterio.And(c => c.Name.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
        }

        CulturesList = await cultureService.GetList(criterio);
        CulturesList = CulturesList.OrderByDescending(s => s.ModifiedDate).ToList();
    }

    public async Task Restablecer()
    {
        FechaDesde = null;
        FechaHasta = null;
        Filtro = "";
        ValorFiltro = "";
        await Filtrar();
    }
}