@page "/Culture/Index"
@attribute [Authorize(Roles = "Admin")]

@inject CultureService cultureService
@rendermode InteractiveServer

<PageTitle>Culture Index</PageTitle>

<div class="culture-container">

    <!-- HEADER -->
    <div class="culture-header">
        <div>
            <h3>Culturas</h3>
            <span>Gestión de registros culturales</span>
        </div>

        <a class="btn btn-primary" href="/Culture/Create">
            <i class="bi bi-plus-square"></i> Crear
        </a>
    </div>

    <!-- FILTROS -->
    <div class="culture-filters">
        <div class="row g-3">

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Desde</label>
                <input class="form-control" type="datetime-local" @bind-value="FechaDesde" />
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Hasta</label>
                <input class="form-control" type="datetime-local" @bind-value="FechaHasta" />
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Filtro</label>
                <select class="form-select" @bind="Filtro">
                    <option value="">Seleccione...</option>
                    <option value="CultureId">ID de Cultura</option>
                    <option value="Name">Nombre</option>
                </select>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Buscar</label>
                <div class="input-group">
                    <input class="form-control" @bind-value="ValorFiltro" placeholder="Buscar..." />

                    <button class="btn btn-primary" @onclick="Filtrar">
                        <i class="bi bi-search"></i>
                    </button>

                    <button class="btn btn-outline-primary" @onclick="Restablecer">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- TABLA -->
    <div class="table-responsive culture-table">

        <QuickGrid Class="table table-hover"
                   Pagination="@pages"
                   Items="CulturesList.AsQueryable()"
                   ItemKey="@(c => c.CultureId)">

            <PropertyColumn Property="@(c => c.CultureId)" Title="Culture ID" />
            <PropertyColumn Property="@(c => c.Name)" Title="Nombre" />
            <PropertyColumn Property="@(c => c.ModifiedDate)" Format="dd-MM-yyyy" Title="Modificación" />

            <TemplateColumn Class="text-center" Context="c" Title="Acción">
                <a href="/Culture/Edit/@c.CultureId" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-pencil"></i> Modificar
                </a>
            </TemplateColumn>

        </QuickGrid>

        <Paginator State="@pages" />

    </div>

</div>

@code {
    public List<Culture> CulturesList { get; set; } = new List<Culture>();
    public DateTime? FechaDesde { get; set; }
    public DateTime? FechaHasta { get; set; }
    public string Filtro { get; set; } = "";
    public string ValorFiltro { get; set; } = "";
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        CulturesList = await cultureService.GetList(c => true);
        CulturesList = CulturesList.OrderByDescending(c => c.ModifiedDate).ToList();
    }

    public async Task Filtrar()
    {

        System.Linq.Expressions.Expression<Func<Culture, bool>> criterio = c => true;

        if (FechaDesde.HasValue && FechaHasta.HasValue)
        {
            DateTime fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(c => c.ModifiedDate >= FechaDesde.Value && c.ModifiedDate <= fechaHasta);
        }
        else if (FechaDesde.HasValue)
        {
            criterio = criterio.And(c => c.ModifiedDate >= FechaDesde.Value);
        }
        else if (FechaHasta.HasValue)
        {
            var fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(c => c.ModifiedDate <= fechaHasta);
        }

        if (Filtro != "" && ValorFiltro != "")
        {
            if (Filtro == "CultureId")
            {
                criterio = criterio.And(c => c.CultureId.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "Name")
            {
                criterio = criterio.And(c => c.Name.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
        }

        CulturesList = await cultureService.GetList(criterio);
        CulturesList = CulturesList.OrderByDescending(s => s.ModifiedDate).ToList();
    }

    public async Task Restablecer()
    {
        FechaDesde = null;
        FechaHasta = null;
        Filtro = "";
        ValorFiltro = "";
        await Filtrar();
    }
}