@page "/Customer/Create"
@attribute [Authorize(Roles = "Admin, SalesManager")]

@using AdventureWorksDominicana.Data.Models
@using Microsoft.EntityFrameworkCore
@using AdventureWorksDominicana.Data.Context
@inject CustomerService customerService
@inject ToastService toastService
@inject NavigationManager navigationManager
@inject Contexto contexto

<div class="customer-form-container">

    <!-- HEADER -->
    <div class="customer-form-header">
        <div>
            <h3>Crear Customer</h3>
            <span>Registro de nuevos clientes</span>
        </div>
    </div>

    <!-- FORM -->
    <div class="customer-form">

        <EditForm Model="customer" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- SECCIÓN -->
                    <h5 class="section-title">
                        <i class="bi bi-person"></i> Información General
                    </h5>

                    <!-- FECHA -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Última fecha de modificación</strong>
                        </label>
                        <input class="form-control" value="@customer.ModifiedDate" disabled />
                    </div>

                    <!-- PERSON -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Person</strong></label>
                        <InputSelect class="form-select" @bind-Value="customer.PersonId">
                            <option value="0">Seleccione una persona...</option>
                            @foreach (var p in ListaPeople)
                            {
                                <option value="@p.BusinessEntityId">@p.FirstName @p.LastName</option>
                            }
                        </InputSelect>
                    </div>

                    <!-- STORE -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Store</strong></label>
                        <InputSelect class="form-select" @bind-Value="customer.StoreId">
                            <option value="0">Seleccione una tienda...</option>
                            @foreach (var s in ListaStores)
                            {
                                <option value="@s.BusinessEntityId">@s.Name</option>
                            }
                        </InputSelect>
                    </div>

                    <!-- TERRITORY -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Territory</strong></label>
                        <InputSelect class="form-select" @bind-Value="customer.TerritoryId">
                            <option value="0">Seleccione un territorio...</option>
                            @foreach (var t in ListaTerritories)
                            {
                                <option value="@t.TerritoryId">@t.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => customer.TerritoryId)" />
                    </div>

                    <!-- INFO -->
                    <div class="mb-3">
                        <small class="text-muted">
                            El <strong>Account Number</strong> será auto generado al completar el registro.
                        </small>
                    </div>

                </div>

                <!-- FOOTER -->
                <div class="card-footer text-center">

                    <a class="btn btn-secondary bi bi-arrow-left"
                           href="/Customer/Index">
                        Volver
                    </a>

                    <button class="btn btn-primary bi bi-floppy"
                            type="submit">
                        Guardar
                    </button>

                </div>
            </div>

        </EditForm>

    </div>
</div>
@code {
    private Customer? customer = new Customer();
    private List<Person> ListaPeople = new();
    private List<Store> ListaStores = new();
    private List<SalesTerritory> ListaTerritories = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ListaPeople = await contexto.People.OrderBy(p => p.BusinessEntityId).ToListAsync();
            ListaStores = await contexto.Stores.OrderBy(s => s.BusinessEntityId).ToListAsync();
            ListaTerritories = await contexto.SalesTerritories.OrderBy(t => t.TerritoryId).ToListAsync();
        }
        catch (Exception)
        {
            toastService.ShowError("Error al cargar los datos.");
        }
    }

    private async Task Guardar()
    {
        if (customer == null) return;
        customer.ModifiedDate = DateTime.Now;

        if (customer.TerritoryId == 0 || customer.TerritoryId == null)
        {
            toastService.ShowWarning("Seleccione un territorio valido. El campo es obligatorio.");
            return;
        }
        if (customer.StoreId == 0 || customer.StoreId == null)
        {
            toastService.ShowWarning("Seleccione un Store valido. El campo es obligatorio.");
            return;
        }
        if (customer.PersonId == 0 || customer.PersonId == null)
        {
            toastService.ShowWarning("Seleccione un person valido. El campo es obligatorio.");
            return;
        }
        try
        {
            var creado = await customerService.Guardar(customer);
            if (creado)
            {
                toastService.ShowSuccess("Customer creado correctamente.");
                navigationManager.NavigateTo("/Customer/Index");
            }
            else
            {
                toastService.ShowError("El customer no se pudo crear, revise los campos e intente de nuevo.");
            }
        }
        catch (Exception)
        {
            toastService.ShowError("Ha ocurrido un error inesperado al intentar crear el customer.");
        }
    }
}
