@page "/Department/Index"
@rendermode InteractiveServer
@inject DepartmentService departmentService

<PageTitle>Department Index</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">Registro de Departamentos</h4>
            <a href="Department/Create" class="btn btn-primary d-flex gap-2">
                <i class="bi bi-plus-square"></i>
                <span>Crear</span>
            </a>
        </div>
        
        <div class="card-body">
            @*Filters*@
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Desde</label>
                    <InputDate class="form-control" @bind-Value="StartDate"/>
                </div>
                <div class="col-6">
                    <label class="form-label">Hasta</label>
                    <InputDate class="form-control" @bind-Value="EndDate"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Seleccione una opci&oacute;n</label>
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="">Seleccione una opci&oacute;n</option>
                        <option value="Name">Nombre</option>
                        <option value="GroupName">Nombre del Grupo</option>
                    </InputSelect>
                </div>
                <div class="col-6">
                    <label class="form-label">Buscar</label>
                    <div class="input-group">
                        <InputText class="form-control" placeholder="Buscar..." @bind-Value="ValorFiltro"/>
                        <i class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></i>
                    </div>
                </div>
            </div>
            @*Table*@
            <div class="table-responsive mt-3">
                <QuickGrid Items="DepartmentsList.AsQueryable()" Pagination="@pages" Class="table table-bordered table-hover">
                    <PropertyColumn Property="@(d => d.DepartmentId)" Title="DepartamentoId" Sortable="true" />
                    <PropertyColumn Property="@(d => d.Name)" Title="Nombre" Sortable="true" />
                    <PropertyColumn Property="@(d => d.GroupName)" Title="Nombre del Grupo" Sortable="true" />
                    <TemplateColumn Context="option" Title="Opci&oacute;n">
                        <a href="Department/Edit/@option.DepartmentId" class="btn btn-outline-primary bi bi-pencil"></a>
                    </TemplateColumn>
                </QuickGrid>
                @*Pagination*@
                <Paginator State="@pages"/>
            </div>
        </div>
    </div>
</div>
@code {
    private List<Department> DepartmentsList = new List<Department>();
    private PaginationState pages = new PaginationState{ ItemsPerPage = 5 };
    private string Filtro = string.Empty, ValorFiltro = string.Empty;
    private DateTime? StartDate = DateTime.Today.Date, EndDate = DateTime.Today.Date.AddDays(1);
    protected override async Task OnInitializedAsync()
    {
        DepartmentsList = await departmentService.GetList(p => true);
    }
    private async Task Buscar()
    {
        Expression<Func<Department, bool>> criterio = d => true;
        if (StartDate.HasValue && EndDate.HasValue)
        {
            var start = StartDate.Value.Date;
            var end = EndDate.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(d => d.ModifiedDate >= start && d.ModifiedDate <= end);
        }
        if (!string.IsNullOrWhiteSpace(Filtro) && !string.IsNullOrWhiteSpace(ValorFiltro))
        {
            if (Filtro == "Name")
                criterio = criterio.And(d => d.Name.Contains(ValorFiltro));
            else if (Filtro == "GroupName")
                criterio = criterio.And(d => d.GroupName.Contains(ValorFiltro)); 
        }
        DepartmentsList = await departmentService.GetList(criterio);
    }
}