@page "/Department/Index"
@attribute [Authorize(Roles = "Admin,HRManager")]

@using AdventureWorksDominicana.Data.Models
@using AdventureWorksDominicana.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer
@inject DepartmentService departmentService

<PageTitle>Registro de Departamentos</PageTitle>

<div class="container mt-4">
    <div class="card shadow-lg">
        
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Registro de Departamentos</h5>
            <a href="Department/Create" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="bi bi-plus-square"></i>
                <span>Crear</span>
            </a>
        </div>
        
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label fw-bold">Desde:</label>
                    <InputDate class="form-control" @bind-Value="StartDate"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Hasta:</label>
                    <InputDate class="form-control " @bind-Value="EndDate"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Filtros:</label>
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" disabled selected>Seleccione una opci&oacute;n</option>
                        <option value="Name">Nombre</option>
                        <option value="GroupName">Nombre del Grupo</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Buscar:</label>
                    <div class="input-group">
                        <InputText class="form-control" placeholder="Buscar..." @bind-Value="ValorFiltro" />
                        <i class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></i>

                        <button class="btn btn-outline-primary" type="button" @onclick="Restablecer" title="Limpiar Filtros">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
              
            </div>
            @*Table*@
            <div class="table-responsive mt-3">
                <QuickGrid Items="DepartmentsList.AsQueryable()" Pagination="@pages" Class="table table-bordered table-hover">
                    <PropertyColumn Property="@(d => d.DepartmentId)" Title="DepartamentoId" Sortable="true" />
                    <PropertyColumn Property="@(d => d.Name)" Title="Nombre" Sortable="true" />
                    <PropertyColumn Property="@(d => d.GroupName)" Title="Nombre del Grupo" Sortable="true" />
                    <PropertyColumn Property="@(d => d.ModifiedDate)" Title="Fecha" Format="dd/MM/yyyy" Sortable="true" />
                    <TemplateColumn Title="Opciones" Align="Align.Center">
                        <div class="d-flex justify-content-center gap-2">
                            <a href="Department/Edit/@context.DepartmentId" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-2" title="Modificar">
                                <i class="bi bi-pencil"></i>
                                <span>Modificar</span>
                            </a>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
                
                <Paginator State="@pages" />
            </div>
        </div>

        <div class="card-footer text-end">
            <strong>Conteo Registros: @DepartmentsList.Count</strong>
        </div>

    </div>
</div>

@code {
    private List<Department> DepartmentsList = new List<Department>();
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };
    private string Filtro = string.Empty;
    private string ValorFiltro = string.Empty;
    private DateTime? StartDate = null;
    private DateTime? EndDate = null;

    protected override async Task OnInitializedAsync()
    {
        await Buscar();
    }

    private async Task Buscar()
    {
        int.TryParse(ValorFiltro, out int idBuscado);

        DepartmentsList = await departmentService.GetList(d =>
            (!(StartDate.HasValue && EndDate.HasValue) ||
            (d.ModifiedDate >= StartDate.Value.Date && d.ModifiedDate <= EndDate.Value.Date.AddDays(1).AddTicks(-1)))
            &&
            (string.IsNullOrWhiteSpace(ValorFiltro) || string.IsNullOrWhiteSpace(Filtro) ||
                (Filtro == "DepartmentId" && d.DepartmentId == idBuscado) ||
                (Filtro == "Name" && d.Name.Contains(ValorFiltro)) ||
                (Filtro == "GroupName" && d.GroupName.Contains(ValorFiltro))
            )
        );
    }

    private async Task Restablecer()
    {
        StartDate = null;
        EndDate = null;
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        await Buscar();
    }

    private async Task Restablecer()
    {
        StartDate = DateTime.Today.Date;
        EndDate = DateTime.Today.Date.AddDays(1);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        await Buscar();
    }
}