@page "/SalesTerritory/Index"

@inject SalesTerritoryService salesTerritoryService;

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between">
            <h3>Sales Territories</h3>
            <a class="btn btn-primary bi bi-plus-square" href="/SalesTerritory/Create"> Crear</a>
        </div>
        <div class="card-body">
            @* Encabezados *@
            <div class="row">
                <div class="col-3">
                    <label>Desde:</label>
                </div>
                <div class="col-3">
                    <label>Hasta:</label>
                </div>
                <div class="col-3">
                    <label>Filtro:</label>
                </div>
                <div class="col-3">
                    <label>Buscar:</label>
                </div>
            </div>

            @* Inputs *@
            <div class="row pb-3">
                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaDesde" />
                </div>
                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaHasta" />
                </div>
                <div class="col-3">
                    <select class="form-select" @bind="Filtro">
                        <option value="" disabled selected hidden>Seleccione un filtro...</option>
                        <option value="Nombre">Nombre</option>
                        <option value="Grupo">Grupo</option>
                        <option value="Codigo">Codigo pa&iacute;s/regi&oacute;n</option>
                    </select>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input class="form-control" type="text" @bind-value="ValorFiltro" placeholder="Buscar..." />
                        <button class="btn btn-primary bi bi-search" type="button" @onclick="Filtrar"></button>
                        <button class="btn btn-outline-primary bi bi-arrow-clockwise" type="button" @onclick="Restablecer"></button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <QuickGrid Class="table table-striped table-bordered table-hover" Pagination="@pages" Items="ListaSalesTerritory.AsQueryable()" ItemKey="@(e => e.TerritoryId)">
                    <PropertyColumn Property="@(s => s.TerritoryId)" Sortable="true" Title="Id"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.Name)" Sortable="true" Title="Nombre"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.CountryRegionCode)" Sortable="true" Title="Pa&iacute;s/regi&oacute;n"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.Group)" Sortable="true" Title="Grupo"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.SalesYtd)" Sortable="true" Format="F2" Title="Ventas"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.SalesLastYear)" Sortable="true" Format="F2" Title="Ventas LY"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.CostYtd)" Sortable="true" Format="F2" Title="Costos"></PropertyColumn>
                    <PropertyColumn Property="@(s => s.CostLastYear)" Sortable="true" Format="F2" Title="Costos LY"></PropertyColumn>
                    <TemplateColumn Class="text-center" Context="options" Title="Acci&oacute;n">
                        <a href="/SalesTerritory/Edit/@options.TerritoryId" class="btn btn-outline-primary bi bi-pencil-square"> Modificar</a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            @*Pagination*@
            <Paginator State="@pages" />
        </div>
    </div>
</div>

@code {
    public List<SalesTerritory> ListaSalesTerritory { get; set; } = new List<SalesTerritory>();
    public DateTime? FechaDesde { get; set; }
    public DateTime? FechaHasta { get; set; }
    public string Filtro { get; set; } = "";
    public string ValorFiltro { get; set; } = "";
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        ListaSalesTerritory = await salesTerritoryService.GetList(s => s.TerritoryId > 0);
        ListaSalesTerritory = ListaSalesTerritory.OrderByDescending(s => s.ModifiedDate).ToList();
    }

    public async Task Filtrar()
    {
        Expression<Func<SalesTerritory, bool>> criterio = s => s.TerritoryId > 0;

        if (FechaDesde.HasValue && FechaHasta.HasValue)
        {
            DateTime fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(s => s.ModifiedDate >= FechaDesde.Value && s.ModifiedDate <= fechaHasta);
        }
        else if (FechaDesde.HasValue)
        {
            criterio = criterio.And(s => s.ModifiedDate >= FechaDesde.Value);
        }
        else if (FechaHasta.HasValue)
        {
            var fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(s => s.ModifiedDate <= fechaHasta);
        }
        if (Filtro != "" && ValorFiltro != "")
        {
            if (Filtro == "Nombre")
            {
                criterio = criterio.And(s => s.Name.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "Grupo")
            {
                criterio = criterio.And(s => s.Group.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "Codigo")
            {
                criterio = criterio.And(s => s.CountryRegionCode.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
        }
        ListaSalesTerritory = await salesTerritoryService.GetList(criterio);
        ListaSalesTerritory = ListaSalesTerritory.OrderByDescending(s => s.ModifiedDate).ToList();
    }

    public async Task Restablecer()
    {
        FechaDesde = null;
        FechaHasta = null;
        Filtro = "";
        ValorFiltro = "";
        await Filtrar();
    }
}
