@page "/BillOfMaterial/Index"
@rendermode InteractiveServer
@inject BillOfMaterialService BOMService

<PageTitle>Bill of Materials Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">

        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title text-black mb-0">Registro de Lista de Materiales </h5>
            <a href="BillOfMaterial/Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> Crear
            </a>
        </div>
        
        <div class="card-body">

            <div class="row mb-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label">Desde</label>
                    <input class="form-control" type="date" @bind="Desde" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Hasta</label>
                    <input class="form-control" type="date" @bind="Hasta" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Filtrar por</label>
                    <select class="form-select" @bind="Filtro">
                        <option value="">Seleccione una opci&oacute;n</option>
                        <option value="ComponentId">ID Componente</option>
                        <option value="AssemblyId">ID Ensamblaje</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Buscar </label>
                    <div class="input-group">
                        <input class="form-control" type="number" placeholder="Buscar..." @bind="ValorFiltro" />
                        <button class="btn btn-outline-primary" type="button" @onclick="Buscar">
                            <i class="bi bi-search"></i>Buscar
                        </button>
                        <button class="btn btn-outline-secondary" type="button" title="Limpiar Filtros" @onclick="Restablecer">
                            <i class="bi bi-arrow-counterclockwise"></i>Limpiar
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <QuickGrid Items="ListaBOM.AsQueryable()" Pagination="@pages" Class="table table-bordered table-hover align-middle">
                    <PropertyColumn Property="@(d => d.BillOfMaterialsId)" Title="BOM ID" Sortable="true" />
                    <PropertyColumn Property="@(d => d.ProductAssemblyId)" Title="Ensamblaje " Sortable="true" />
                    <PropertyColumn Property="@(d => d.ComponentId)" Title="Componente" Sortable="true" />
                    <PropertyColumn Property="@(d => d.StartDate)" Title="Fecha Inicio" Format="dd/MM/yyyy" Sortable="true" />
                    <PropertyColumn Property="@(d => d.PerAssemblyQty)" Title="Cant. Requerida" Sortable="true" />
                    <PropertyColumn Property="@(d => d.UnitMeasureCode)" Title="Unidad" Sortable="true" />
                    <TemplateColumn Context="option" Title="Opción">
                        <a href="BillOfMaterial/Edit/@option.BillOfMaterialsId" class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                    </TemplateColumn>
                </QuickGrid>
                
                <Paginator State="@pages" />
            </div>
        </div>
    </div>
</div>

@code {
    private List<BillOfMaterial> ListaBOM = new List<BillOfMaterial>();
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    private string Filtro = string.Empty;
    private int? ValorFiltro;
    private DateTime? Desde;
    private DateTime? Hasta;

    protected override async Task OnInitializedAsync()
    {
        ListaBOM = await BOMService.GetList(p => true);
    }

    private async Task Buscar()
    {
        ListaBOM = await BOMService.GetList(c =>
            (!Desde.HasValue || c.StartDate >= Desde.Value.Date) &&
            (!Hasta.HasValue || c.StartDate <= Hasta.Value.Date.AddDays(1).AddTicks(-1)) &&
            (!ValorFiltro.HasValue ||
                (Filtro == "ComponentId" && c.ComponentId == ValorFiltro) ||
                (Filtro == "AssemblyId" && c.ProductAssemblyId == ValorFiltro) ||
                (string.IsNullOrWhiteSpace(Filtro) && (c.ComponentId == ValorFiltro || c.ProductAssemblyId == ValorFiltro))
            )
        );
    }

    private async Task Restablecer()
    {
        Filtro = string.Empty;
        ValorFiltro = null;
        Desde = null;
        Hasta = null;
        await OnInitializedAsync();
    }
}