@page "/Location/Index"
@attribute [Authorize(Roles = "Admin, ProductionManager")]

@rendermode InteractiveServer
@inject LocationService locationService

<PageTitle>Location Index</PageTitle>

<div class="location-container">

    <!-- HEADER -->
    <div class="location-header">
        <div>
            <h3>Ubicaciones</h3>
            <span>Gestión y consulta de ubicaciones</span>
        </div>

        <a class="btn btn-primary" href="/Location/Create">
            <i class="bi bi-plus-square"></i> Crear Nueva
        </a>
    </div>

    <!-- FILTROS -->
    <div class="location-filters">
        <div class="row g-3">

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Desde</label>
                <input class="form-control" type="date" @bind="StartDate" />
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Hasta</label>
                <input class="form-control" type="date" @bind="EndDate" />
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Filtro</label>
                <select class="form-select" @bind="Filtro">
                    <option value="">Seleccione...</option>
                    <option value="LocationId">ID de Ubicación</option>
                    <option value="Name">Nombre</option>
                </select>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <label class="form-label">Buscar</label>
                <div class="input-group">
                    <input class="form-control" @bind="ValorFiltro" placeholder="Buscar..." />

                    <button class="btn btn-primary" @onclick="Buscar">
                        <i class="bi bi-search"></i>
                    </button>

                    <button class="btn btn-outline-primary" @onclick="Restablecer">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- TABLA -->
    <div class="table-responsive location-table">

        <QuickGrid Items="LocationsList.AsQueryable()"
                   Pagination="@pages"
                   Class="table table-hover">

            <PropertyColumn Property="@(l => l.LocationId)" Title="ID" />
            <PropertyColumn Property="@(l => l.Name)" Title="Nombre" />
            <PropertyColumn Property="@(l => l.CostRate)" Title="Tarifa" />
            <PropertyColumn Property="@(l => l.Availability)" Title="Disponibilidad" />
            <PropertyColumn Property="@(l => l.ModifiedDate)" Format="dd/MM/yyyy" Title="Fecha" />

            <TemplateColumn Class="text-center" Title="Acciones">
                <a href="/Location/Edit/@context.LocationId"
                       class="btn btn-sm btn-outline-primary">
                    <span class="bi bi-pencil"></span> Modificar
                </a>
            </TemplateColumn>

        </QuickGrid>

        <Paginator State="@pages" />

    </div>

</div>

@code {
    private List<Location> LocationsList = new List<Location>();
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };
    private string Filtro = string.Empty;
    private string ValorFiltro = string.Empty;
    private DateTime? StartDate = DateTime.Today.Date;
    private DateTime? EndDate = DateTime.Today.Date.AddDays(1);

    protected override async Task OnInitializedAsync()
    {

        LocationsList = await locationService.GetList(l => true);
    }

    private async Task Buscar()
    {

        LocationsList = await locationService.GetList(l =>
            (!StartDate.HasValue || !EndDate.HasValue ||
            (l.ModifiedDate >= StartDate.Value.Date && l.ModifiedDate <= EndDate.Value.Date.AddDays(1).AddTicks(-1)))
            &&
            (string.IsNullOrWhiteSpace(ValorFiltro) || string.IsNullOrWhiteSpace(Filtro) ||
                (Filtro == "LocationId" && l.LocationId.ToString().Contains(ValorFiltro)) ||
                (Filtro == "Name" && l.Name.Contains(ValorFiltro))
            )
        );
    }

    private async Task Restablecer()
    {
        StartDate = DateTime.Today.Date;
        EndDate = DateTime.Today.Date.AddDays(1);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        

        LocationsList = await locationService.GetList(l => true);
    }
}