@page "/ProductVendor/Index"
@attribute [Authorize(Roles = "Admin, ProductionManager")]

@using AdventureWorksDominicana.Data.Models
@using AdventureWorksDominicana.Services
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer
@inject ProductVendorService productVendorService

<PageTitle>Product Vendor</PageTitle>

<div class="container mt-4">
    <div class="card shadow-lg">
        
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Product Vendor</h5>
            <a href="ProductVendor/Create" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="bi bi-plus-square"></i>
                <span>Crear</span>
            </a>
        </div>
        
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label fw-bold">Desde</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Hasta</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Filtro:</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">Buscar:</label>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <input class="form-control" type="date" @bind="StartDate" />
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="date" @bind="EndDate" />
                </div>
                <div class="col-md-3">
                    <select class="form-select" @bind="Filtro">
                        <option value="">Seleccione una opcion</option>
                        <option value="Producto">Producto</option>
                        <option value="Vendedor">Proveedor</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar..." @bind="ValorFiltro" />
                        <button class="btn btn-primary" type="button" @onclick="Buscar" title="Buscar">
                            <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-outline-primary" type="button" @onclick="Restablecer" title="Limpiar Filtros">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="table-responsive">
                <QuickGrid Items="ProductVendorsList.AsQueryable()" Pagination="@pages" Class="table table-striped table-bordered table-hover">
                    <PropertyColumn Property="@(pv => pv.BusinessEntity.Name)" Title="Proveedor" Sortable="true" />
                    <PropertyColumn Property="@(pv => pv.Product.Name)" Title="Producto" Sortable="true" />
                    <PropertyColumn Property="@(pv => pv.StandardPrice)" Title="Precio Estándar" Sortable="true" />
                    <PropertyColumn Property="@(pv => pv.ModifiedDate)" Title="Fecha" Format="dd/MM/yyyy" Sortable="true" />
                    <TemplateColumn Title="Opciones" Align="Align.Center">
                        <div class="d-flex justify-content-center gap-2">
                            <a href="ProductVendor/Edit/@context.ProductId/@context.BusinessEntityId" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-2" title="Modificar">
                                <i class="bi bi-pencil"></i>
                                <span>Modificar</span>
                            </a>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
                
                <Paginator State="@pages" />
            </div>
        </div>

        <div class="card-footer text-end">
            <strong>Conteo Registros: @ProductVendorsList.Count</strong>
        </div>

    </div>
</div>

@code {
    private List<ProductVendor> ProductVendorsList = new List<ProductVendor>();
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };
    private string Filtro = string.Empty;
    private string ValorFiltro = string.Empty;
    private DateTime? StartDate = null;
    private DateTime? EndDate = null;

    protected override async Task OnInitializedAsync()
    {
        await Buscar();
    }

    private async Task Buscar()
    {
        ProductVendorsList = await productVendorService.GetList(pv =>
            (!(StartDate.HasValue && EndDate.HasValue) ||
            (pv.ModifiedDate >= StartDate.Value.Date && pv.ModifiedDate <= EndDate.Value.Date.AddDays(1).AddTicks(-1)))
            &&
            (string.IsNullOrWhiteSpace(ValorFiltro) || string.IsNullOrWhiteSpace(Filtro) ||
                (Filtro == "Producto" && pv.Product.Name.Contains(ValorFiltro)) ||
                (Filtro == "Vendedor" && pv.BusinessEntity.Name.Contains(ValorFiltro))
            )
        );
    }

    private async Task Restablecer()
    {
        StartDate = null;
        EndDate = null;
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        await Buscar();
    }
}