@page "/StateProvince/Index"
@attribute [Authorize(Roles = "Admin")]

@inject StateProvinceService stateProvinceService;
@inject SalesTerritoryService salesTerritoryService;
@rendermode InteractiveServer

<div class="state-index-container">

    <div class="state-card">

        <!-- HEADER -->
        <div class="state-header">
            <div>
                <h3>State Provinces</h3>
                <span>Listado de provincias y estados</span>
            </div>

            <a class="btn btn-primary bi bi-plus-square"
                   href="/StateProvince/Create">
                Crear
            </a>
        </div>

        <!-- FILTROS -->
        <div class="state-filters">

            <div class="row">
                <div class="col-3"><label>Desde</label></div>
                <div class="col-3"><label>Hasta</label></div>
                <div class="col-3"><label>Filtro</label></div>
                <div class="col-3"><label>Buscar</label></div>
            </div>

            <div class="row pb-3">
                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaDesde" />
                </div>

                <div class="col-3">
                    <input class="form-control" type="datetime-local" @bind-value="FechaHasta" />
                </div>

                <div class="col-3">
                    <select class="form-select" @bind="Filtro">
                        <option value="">Seleccione...</option>
                        <option value="Nombre">Nombre</option>
                        <option value="Codigo">Código</option>
                        <option value="CodigoPais">Código País/Región</option>
                    </select>
                </div>

                <div class="col-3">
                    <div class="input-group">
                        <input class="form-control"
                               type="text"
                               @bind-value="ValorFiltro"
                               placeholder="Buscar..." />

                        <button class="btn btn-primary bi bi-search"
                                type="button"
                                @onclick="Filtrar"></button>

                        <button class="btn btn-outline-primary bi bi-arrow-clockwise"
                                type="button"
                                @onclick="Restablecer"></button>
                    </div>
                </div>
            </div>

        </div>

        <!-- TABLA -->
        <div class="state-table">

            <div class="table-responsive">
                <QuickGrid Class="table table-striped table-bordered table-hover"
                           Pagination="@pages"
                           Items="ListaStateProvince.AsQueryable()"
                           ItemKey="@(s => s.StateProvinceId)">

                    <PropertyColumn Property="@(s => s.StateProvinceId)" Title="Id" Sortable="true" />
                    <PropertyColumn Property="@(s => s.StateProvinceCode)" Title="Código" Sortable="true" />
                    <PropertyColumn Property="@(s => s.CountryRegionCode)" Title="Código País/región" Sortable="true" />
                    <PropertyColumn Property="@(s => s.Name)" Title="Nombre" Sortable="true" />

                    <TemplateColumn Context="options" Title="Territorio">
                        @(ListaSalesTerritory.Find(s => s.TerritoryId == options.TerritoryId)?.Name ?? "Not found")
                    </TemplateColumn>

                    <TemplateColumn Class="text-center" Context="options" Title="¿Es Único?">
                        @if (EsUnico(options.CountryRegionCode, options.StateProvinceId))
                        {
                            <span class="bi bi-check-circle text-success"></span>
                        }
                        else
                        {
                            <span class="bi bi-x-circle text-danger"></span>
                        }
                    </TemplateColumn>

                    <TemplateColumn Class="text-center" Context="options" Title="Acciones">
                        <a href="/StateProvince/Edit/@options.StateProvinceId"
                               class="btn btn-outline-primary btn-sm bi bi-pencil-square">
                            Modificar
                        </a>
                    </TemplateColumn>

                </QuickGrid>

                <Paginator State="@pages" />
            </div>
        </div>

    </div>

</div>
@code {
    public List<StateProvince> ListaStateProvince { get; set; } = new List<StateProvince>();
    public List<SalesTerritory> ListaSalesTerritory { get; set; } = new List<SalesTerritory>();
    public DateTime? FechaDesde { get; set; }
    public DateTime? FechaHasta { get; set; }
    public string Filtro { get; set; } = "";
    public string ValorFiltro { get; set; } = "";
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        ListaStateProvince = await stateProvinceService.GetList(s => s.StateProvinceId > 0);
        ListaStateProvince = ListaStateProvince.OrderByDescending(s => s.ModifiedDate).ToList();
        ListaSalesTerritory = await salesTerritoryService.GetList(s => s.TerritoryId > 0);
    }

    public async Task Filtrar()
    {
        Expression<Func<StateProvince, bool>> criterio = s => s.StateProvinceId > 0;

        if (FechaDesde.HasValue && FechaHasta.HasValue)
        {
            DateTime fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(s => s.ModifiedDate >= FechaDesde.Value && s.ModifiedDate <= fechaHasta);
        }
        else if (FechaDesde.HasValue)
        {
            criterio = criterio.And(s => s.ModifiedDate >= FechaDesde.Value);
        }
        else if (FechaHasta.HasValue)
        {
            var fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(s => s.ModifiedDate <= fechaHasta);
        }
        if (Filtro != "" && ValorFiltro != "")
        {
            if (Filtro == "Nombre")
            {
                criterio = criterio.And(s => s.Name.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "Codigo")
            {
                criterio = criterio.And(s => s.StateProvinceCode.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
            if (Filtro == "CodigoPais")
            {
                criterio = criterio.And(s => s.CountryRegionCode.Trim().ToLower().Contains(ValorFiltro.ToLower()));
            }
        }
        ListaStateProvince = await stateProvinceService.GetList(criterio);
        ListaStateProvince = ListaStateProvince.OrderByDescending(s => s.ModifiedDate).ToList();
    }

    public async Task Restablecer()
    {
        FechaDesde = null;
        FechaHasta = null;
        Filtro = "";
        ValorFiltro = "";
        await Filtrar();
    }

    public bool EsUnico(string codigoPais, int id)
    {
        return !ListaStateProvince.Any(s => s.CountryRegionCode.ToUpper().Equals(codigoPais) && s.StateProvinceId != id);
    }
}
