@page "/ShoppingCart"

@rendermode InteractiveServer

@inject ShoppingCartItemService shoppingCartItemService
@inject NavigationManager navigationManager
@inject CustomerService customerService
@inject ToastService toastService
@inject AuthenticationStateProvider authenticationStateProvider;

<PageTitle>ShoppingCart</PageTitle>

<div class="cart-container">

    <!-- HEADER -->
    <div class="cart-header">
        <div>
            <h3>Carrito de Compras</h3>
            <span>Revisa tus productos antes de finalizar</span>
        </div>

        <button class="btn btn-outline bi bi-arrow-left" @onclick="GoToSale"> Seguir comprando</button>
    </div>

    <div class="cart-content">

        <!-- LISTA -->
        <div class="cart-items">
            @if (ShoppingCartItemList.Any())
            {
                @foreach (var s in ShoppingCartItemList)
                {
                    <div class="cart-item">

                        <div class="cart-item-img">
                            @{
                                // EXPLICACIÓN 1: Extraemos el brazo relacionador que marca la imagen como "True" (Primaria)
                                var nexoFoto = s.Product.ProductProductPhotos.FirstOrDefault(f => f.Primary == true);
                                
                                // EXPLICACIÓN 2: Esto es un Fallback. Si el producto recién creado no se le subió foto, mostramos el gris
                                string imgUrl = "https://www.svgrepo.com/show/486796/product-management.svg";
                                
                                // EXPLICACIÓN 3: Si sí hay foto binaria cargada en la BD, la convertimos a lenguaje Web (Base64)
                                if (nexoFoto != null && nexoFoto.ProductPhoto?.ThumbNailPhoto != null)
                                {
                                    var base64 = Convert.ToBase64String(nexoFoto.ProductPhoto.ThumbNailPhoto);
                                    imgUrl = $"data:image/jpeg;base64,{base64}";
                                }
                            }
                            <img src="@imgUrl" alt="@s.Product.Name" style="object-fit: cover; width: 100%; height: 100%; border-radius: 8px;" />
                            
                            @if (!string.IsNullOrWhiteSpace(s.Product.Color))
                            {
                                <span>@s.Product.Color</span>
                            }
                        </div>

                        <div class="cart-item-info">

                            <div class="cart-item-top">
                                <span class="cart-category">
                                    @(s.Product.ProductSubcategory?.ProductCategory?.Name ?? "N/A")
                                </span>

                                <i class="bi bi-trash cart-delete"
                                   @onclick="() => DeleteItemCart(s.ShoppingCartItemId)"></i>
                            </div>

                            <div class="cart-name">@s.Product.Name</div>

                            <div class="cart-price">
                                RD$ @s.Product.ListPrice.ToString("N2")
                            </div>

                            <div class="cart-quantity">
                                <button @onclick="() => MinusQuentity(s.ShoppingCartItemId)">-</button>
                                <span>@s.Quantity</span>
                                <button @onclick="() => SumQuentity(s.ShoppingCartItemId)">+</button>
                            </div>

                        </div>

                    </div>
                }
            }
            else
            {
                <div class="cart-empty">
                    <img src="/EmptyCart.png" />
                    <h4>Tu carrito está vacío</h4>
                    <button class="btn btn-outline" @onclick="GoToSale">
                        Explorar productos
                    </button>
                </div>
            }
        </div>

        <!-- RESUMEN -->
        @if (ShoppingCartItemList.Any())
        {
            <div class="cart-summary">

                <h5>Resumen</h5>

                <div class="summary-row">
                    <span>Productos</span>
                    <span>@ShoppingCartItemList.Sum(i => i.Quantity)</span>
                </div>

                <div class="summary-row">
                    <span>Subtotal</span>
                    <span>
                        RD$ @ShoppingCartItemList.Sum(i => i.Product.ListPrice * i.Quantity).ToString("N2")
                    </span>
                </div>

                <hr />

                <div class="summary-total">
                    <span>Total</span>
                    <span>
                        RD$ @ShoppingCartItemList.Sum(i => i.Product.ListPrice * i.Quantity).ToString("N2")
                    </span>
                </div>

                <button class="btn btn-fill w-100 mt-3">Finalizar compra</button>

            </div>
        }
    </div>
</div>

@code {
    private List<ShoppingCartItem> ShoppingCartItemList = new List<ShoppingCartItem>();

    private ClaimsPrincipal? User { get; set; }
    private bool IsAuthenticated { get; set; }
    private string? UserEmail { get; set; }
    private List<Customer> userCurrent = new List<Customer>();

    protected override async Task OnInitializedAsync()
    {
        // Busca el usuario logeado
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
        IsAuthenticated = User.Identity?.IsAuthenticated ?? false;

        if (IsAuthenticated)
        {
            UserEmail = User.FindFirst(ClaimTypes.Email)?.Value;
        }

        // Solo trae los items del usuario logeado
        ShoppingCartItemList = await shoppingCartItemService.GetList(s => s.ShoppingCartId.Trim().ToLower().Equals(UserEmail));
        userCurrent = await customerService.GetList(u => u.Person.EmailAddresses.Any(p => p.EmailAddress1.Trim().ToLower().Equals(UserEmail)));
    }

    private void GoToSale() => navigationManager.NavigateTo("/Sales");

    private async Task SumQuentity(int itemId)
    {
        var item = ShoppingCartItemList.FirstOrDefault(x => x.ShoppingCartItemId == itemId);
        if (item != null)
        {
            item.Quantity += 1;
            await shoppingCartItemService.Guardar(item);
        }
    }

    private async Task MinusQuentity(int itemId)
    {
        var item = ShoppingCartItemList.FirstOrDefault(x => x.ShoppingCartItemId == itemId);
        if (item != null)
        {
            if (item.Quantity != 1)
                item.Quantity -= 1;
            await shoppingCartItemService.Guardar(item);
        }
    }


    private async Task RefreshShoppingCart()
    {
        ShoppingCartItemList = await shoppingCartItemService.GetList(s => s.ShoppingCartId.Trim().ToLower().Equals(UserEmail));
    }

    private async Task DeleteItemCart(int itemId)
    {
        try
        {
            var eliminated = await shoppingCartItemService.Eliminar(itemId);
            toastService.ShowSuccess("Producto eliminado correctamente");
            await RefreshShoppingCart();
        }
        catch (Exception ex)
        {
            toastService.ShowSuccess("Producto no pudo ser eliminado correctamente");
            Console.Write(ex.Message);
        }
    }
}